JWT_SECRET=super-secret-key-change-in-production-min-32-chars!!
CONNECTIONSTRING_DEFAULT=Host=localhost;Database=kage_no_tessen;Username=naruto;Password=naruto123
REDIS_CONNECTION=localhost:6379
ADMIN_EMAIL=admin@KageNoTessen.gg
ADMIN_PASSWORD=Admin123!
